<!-- 类别为公司类别 -->

<!-- 客户类别 -->
<div class="row todo-pre">
	<div class="col-xs-4 col-sm-4 todo-pre-1 font-gray">客户类别</div>
	<div class="col-xs-7 col-sm-7 todo-pre-2">{{data.cust_type_name}}</div>
</div>
<!-- 客户姓名 -->
<div class="row todo-pre">
	<div class="col-xs-4 col-sm-4 todo-pre-1 font-gray">客户姓名</div>
	<div class="col-xs-7 col-sm-7 todo-pre-2">{{data.cust_name}}</div>
</div>
<!-- 注册登记号 -->
<div class="row todo-pre">
	<div class="col-xs-4 col-sm-4 todo-pre-1 font-gray">注册登记号</div>
	<div class="col-xs-7 col-sm-7 todo-pre-2">{{data.cust_reg_no}}</div>
</div>
<!-- 移动电话号码-->
<div class="row todo-pre">
	<div class="col-xs-4 col-sm-4 todo-pre-1 font-gray">电话号码</div>
	<div class="col-xs-7 col-sm-7 todo-pre-2">{{data.cust_tel}}</div>
</div>
<!-- 通讯地址-->
<div class="row todo-pre">
	<div class="col-xs-4 col-sm-4 todo-pre-1 font-gray">通讯地址</div>
	<div class="col-xs-7 col-sm-7 todo-pre-2">{{data.cust_addr}}</div>
</div>
<!-- 客户注册地-->
<div class="row todo-pre">
	<div class="col-xs-4 col-sm-4 todo-pre-1 font-gray">客户注册地</div>
	<div class="col-xs-7 col-sm-7 todo-pre-2">{{data.cust_reg_addr}}</div>
</div>
<!-- 注册日期-->
<div class="row todo-pre">
	<div class="col-xs-4 col-sm-4 todo-pre-1 font-gray">注册日期</div>
	<div class="col-xs-7 col-sm-7 todo-pre-2">{{data.cust_reg_date | date:'yyyy-MM-dd'}}</div>
</div>
<!-- 营业执照到期日期-->
<div class="row todo-pre">
	<div class="col-xs-4 col-sm-4 todo-pre-1 font-gray">营业执照到期日期</div>
	<div class="col-xs-7 col-sm-7 todo-pre-2">{{data.card_end_time | date:'yyyy-MM-dd'}}</div>
</div>
<!-- 所属行业-->
<div class="row todo-pre">
	<div class="col-xs-4 col-sm-4 todo-pre-1 font-gray">所属行业</div>
	<div class="col-xs-7 col-sm-7 todo-pre-2">{{data.cust_biz_name}}</div>
</div>
<!-- 公司法律责任形式-->
<div class="row todo-pre">
	<div class="col-xs-4 col-sm-4 todo-pre-1 font-gray">公司法律责任形式</div>
	<div class="col-xs-7 col-sm-7 todo-pre-2">{{data.cust_comp_law_name}}</div>
</div>